<section class="about-section pb_120">
    <div class="large-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1"><img src="assets/images/resource/about-1.jpg" alt=""></figure>
                    <figure class="image image-2"><img src="assets/images/resource/about-2.jpg" alt=""></figure>
                    <div class="rotate-box">
                        <div class="icon-box"><img src="assets/images/icons/icon-14.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="text-box mb_35">
                        <h2>Chi siamo</h2>
                        <p class="mb_20"><span>I Randagini di Zagarolo</span> è un'associazione di volontariato che si occupa di gatti: salvataggio, cura, adozione e sensibilizzazione sul benessere felino.</p>
                        <p>Ogni giorno ci impegniamo per trovare una famiglia ai gatti abbandonati, promuovendo l'adozione responsabile e il rispetto verso i nostri amici felini.</p>
                    </div>
                    <div class="inner-box">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 funfact-block">
                                <div class="funfact-block-one">
                                    <div class="count-outer">
                                        <span class="odometer" data-count="100">00</span><span class="symble">+</span>
                                    </div>
                                    <p>Gatti salvati</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 funfact-block">
                                <div class="funfact-block-one">
                                    <div class="count-outer">
                                        <span class="odometer" data-count="50">00</span><span class="symble">+</span>
                                    </div>
                                    <p>Volontari attivi</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 funfact-block">
                                <div class="funfact-block-one">
                                    <div class="count-outer">
                                        <span class="odometer" data-count="30">00</span><span class="symble">+</span>
                                    </div>
                                    <p>Adozioni di gatti ogni anno</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>