 <section class="popular-product pb_120 centred">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-19.png);"></div>
                <div class="pattern-2 float-bob-x" style="background-image: url(assets/images/shape/shape-20.png);"></div>
            </div>
            <div class="large-container">
                <div class="sec-title mb_50">
<h2>Cani <span>in cerca di famiglia</span></h2>
                </div>
                <div class="inner-container">
                    <div class="popular-carousel owl-carousel owl-theme owl-dots-none">
                        <div class="shop-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <span class="discount-product p_absolute l_0 t_0">6% Off</span>
                                    <ul class="option-list clearfix">
                                        <li><a href="assets/images/shop/shop-1.png" class="lightbox-image" data-fancybox="gallery"><i class="far fa-eye"></i></a></li>
                                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                                    </ul>
                                    <figure class="image"><img src="assets/images/shop/shop-1.png" alt=""></figure>
                                </div>
                                <div class="lower-content">
<span class="text">Meticcio</span>
<ul class="rating centred"> 
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><span>(5)</span></li>
</ul>
<h4><a href="shop-details.html">Thor - 2 anni, giocherellone</a></h4>
<div class="price">Taglia media</div>
<div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <span class="discount-product p_absolute l_0 t_0">6% Off</span>
                                    <ul class="option-list clearfix">
                                        <li><a href="assets/images/shop/shop-2.png" class="lightbox-image" data-fancybox="gallery"><i class="far fa-eye"></i></a></li>
                                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                                    </ul>
                                    <figure class="image"><img src="assets/images/shop/shop-2.png" alt=""></figure>
                                </div>
                                <div class="lower-content">
<span class="text">Meticcia</span>
<ul class="rating centred"> 
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><span>(2)</span></li>
</ul>
<h4><a href="shop-details.html">Luna - 1 anno, dolcissima</a></h4>
<div class="price">Taglia piccola</div>
<div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <ul class="option-list clearfix">
                                        <li><a href="assets/images/shop/shop-3.png" class="lightbox-image" data-fancybox="gallery"><i class="far fa-eye"></i></a></li>
                                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                                    </ul>
                                    <figure class="image"><img src="assets/images/shop/shop-3.png" alt=""></figure>
                                </div>
                                <div class="lower-content">
<span class="text">Meticcio</span>
<ul class="rating centred"> 
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><span>(3.5)</span></li>
</ul>
<h4><a href="shop-details.html">Rocky - 3 anni, energico</a></h4>
<div class="price">Taglia grande</div>
<div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <ul class="option-list clearfix">
                                        <li><a href="assets/images/shop/shop-4.png" class="lightbox-image" data-fancybox="gallery"><i class="far fa-eye"></i></a></li>
                                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                                    </ul>
                                    <figure class="image"><img src="assets/images/shop/shop-4.png" alt=""></figure>
                                </div>
                                <div class="lower-content">
<span class="text">Meticcio</span>
<ul class="rating centred"> 
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><span>(4)</span></li>
</ul>
<h4><a href="shop-details.html">Milo - 4 anni, affettuoso</a></h4>
<div class="price">Taglia media</div>
<div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <ul class="option-list clearfix">
                                        <li><a href="assets/images/shop/shop-5.png" class="lightbox-image" data-fancybox="gallery"><i class="far fa-eye"></i></a></li>
                                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                                    </ul>
                                    <figure class="image"><img src="assets/images/shop/shop-5.png" alt=""></figure>
                                </div>
                                <div class="lower-content">
<span class="text">Meticcia</span>
<ul class="rating centred"> 
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><i class="icon-10"></i></li>
    <li><span>(4)</span></li>
</ul>
<h4><a href="shop-details.html">Stella - 2 anni, vivace</a></h4>
<div class="price">Taglia piccola</div>
<div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
