<section class="popular-product pb_120 centred">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-19.png);"></div>
        <div class="pattern-2 float-bob-x" style="background-image: url(assets/images/shape/shape-20.png);"></div>
    </div>
    <div class="large-container">
        <div class="sec-title mb_50">
            <h2>Gatti <span>in cerca di famiglia</span></h2>
        </div>
        <div class="inner-container">
            <div class="popular-carousel owl-carousel owl-theme owl-dots-none">
                <div class="shop-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="assets/cats/1752341462330povzyxrs.png" alt="Mimi"></figure>
                        </div>
                        <div class="lower-content">
                            <span class="text">Sterilizzata e vaccinata</span>
                            <h4><a href="#">Mimi - 2 anni</a></h4>
                            <div class="price">Femmina</div>
                            <div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                        </div>
                    </div>
                </div>
                <div class="shop-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="assets/cats/1752341480496jt3juloj.png" alt="Leo"></figure>
                        </div>
                        <div class="lower-content">
                            <span class="text">Abituato alla lettiera</span>
                            <h4><a href="#">Leo - 1 anno</a></h4>
                            <div class="price">Maschio</div>
                            <div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                        </div>
                    </div>
                </div>
                <div class="shop-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="assets/cats/1752341501053mly960q8.png" alt="Sofia"></figure>
                        </div>
                        <div class="lower-content">
                            <span class="text">Compatibile con altri gatti</span>
                            <h4><a href="#">Sofia - 3 anni</a></h4>
                            <div class="price">Femmina</div>
                            <div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                        </div>
                    </div>
                </div>
                <div class="shop-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="assets/cats/1752341532769x1okp565.png" alt="Oscar"></figure>
                        </div>
                        <div class="lower-content">
                            <span class="text">Microchip e test FIV/FELV</span>
                            <h4><a href="#">Oscar - 4 anni</a></h4>
                            <div class="price">Maschio</div>
                            <div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                        </div>
                    </div>
                </div>
                <div class="shop-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="assets/cats/1752341544887jol26oa0.png" alt="Luna"></figure>
                        </div>
                        <div class="lower-content">
                            <span class="text">Adatta a vita in appartamento</span>
                            <h4><a href="#">Luna - 2 anni</a></h4>
                            <div class="price">Femmina</div>
                            <div class="btn-box"><button type="submit" class="theme-btn btn-one">Adotta</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>