 <section class="category-section centred pt_120 pb_85">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-18.png);"></div>
            <div class="shape-box">
                <div class="shape-1" style="background-image: url(assets/images/shape/shape-17.png);"></div>
                <div class="shape-2 zoom-fade" style="background-image: url(assets/images/shape/shape-6.png);"></div>
            </div>
            <div class="large-container">
                <div class="category-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                <figure class="image"><img src="/assets/cats/Volunteer-Opening-Cat-Cuddler-crop.jpg" alt="Adozioni"></figure>
                            </div>
                            <h4><a href="#">Adozioni</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-12.png);"></div>
                                <figure class="image"><img src="/assets/cats/recupero-gatti.png" alt="Recupero gatti feriti"></figure>
                            </div>
                            <h4><a href="#">Recupero gatti feriti</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-13.png);"></div>
                                <figure class="image"><img src="/assets/cats/colonia_felina.png" alt="Sfamare colonie"></figure>
                            </div>
                            <h4><a href="#">Sfamare colonie</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-14.png);"></div>
                                <figure class="image"><img src="/assets/cats/aiuti_cibo.png" alt="Gestione aiuti cibo"></figure>
                            </div>
                            <h4><a href="#">Gestione aiuti cibo</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-15.png);"></div>
                                <figure class="image"><img src="/assets/cats/toppng.com-cute-cat-looking-363x400.png" alt="Aiuto randaggi"></figure>
                            </div>
                            <h4><a href="#">Aiuto randaggi</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                                <figure class="image"><img src="/assets/cats/view-cats-dogs-being-friends.jpg" alt="Maltrattamenti"></figure>
                            </div>
                            <h4><a href="#">Maltrattamenti</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>