 <section class="category-section centred pt_120 pb_85">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-18.png);"></div>
            <div class="shape-box">
                <div class="shape-1" style="background-image: url(assets/images/shape/shape-17.png);"></div>
                <div class="shape-2 zoom-fade" style="background-image: url(assets/images/shape/shape-6.png);"></div>
            </div>
            <div class="large-container">
                <div class="category-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-1.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Kids Toys</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-12.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-2.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Indoor Games</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-13.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-3.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Puzzle Games</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-14.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-4.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Kids Books</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-15.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-5.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Balloons Cards</a></h4>
                        </div>
                    </div>
                    <div class="category-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                                <figure class="image"><img src="assets/images/resource/category-6.png" alt=""></figure>
                            </div>
                            <h4><a href="shop.html">Water Toys</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>