<section class="featured-style-two">
    <div class="large-container">
        <div class="inner-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 featured-block">
                    <div class="featured-block-two">
                        <div class="inner-box">
                            <figure class="image-box p_absolute r_0 b_0"><img src="/assets/cats/001.png"
                                    alt="Gatto adottabile"></figure>
                            <div class="text-box">
                                <h2>Perché adottare un gatto?</h2>
                                <h4><span>Scopri</span> i benefici dell'adozione felina</h4>
                                <a href="#" class="theme-btn btn-one">Scopri di più</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 featured-block">
                    <div class="featured-block-two">
                        <div class="inner-box">
                            <figure class="image-box p_absolute r_0 b_0"><img src="/assets/cats/002.png"
                                    alt="Volontario con gatto"></figure>
                            <div class="text-box">
                                <span class="text">Sostieni i nostri mici</span>
                                <h2>Diventa volontario felino</h2>
                                <a href="#" class="theme-btn btn-one">Unisciti a noi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 featured-block">
                    <div class="featured-block-two">
                        <div class="inner-box">
                            <figure class="image-box p_absolute l_0 b_0"><img src="/assets/cats/003.png"
                                    alt="Gatto randagio"></figure>
                            <div class="text-box align-3">
                                <h2>Aiuta un gatto randagio</h2>
                                <h4><span>Fai una donazione per i gatti</span></h4>
                                <a href="#" class="theme-btn btn-one">Dona ora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>