 <section class="news-section pt_120 pb_90">
            <div class="shape-layer rotate-me" style="background-image: url(assets/images/shape/shape-29.png);"></div>
            <div class="large-container">
                <div class="sec-title centred mb_50">
                    <h2>Latest From <span>Media</span></h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="assets/images/news/news-1.png" alt=""></a></figure>
                                    <figure class="overlay-image"><a href="blog-details.html"><img src="assets/images/news/news-1.png" alt=""></a></figure>
                                    <ul class="post-info">
                                        <li>June 4, 2024</li>
                                        <li><a href="blog-details.html">By Jeams</a></li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="blog-details.html">Dressing Your Little One Stylish and Comfortable Baby Outfits</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="assets/images/news/news-2.png" alt=""></a></figure>
                                    <figure class="overlay-image"><a href="blog-details.html"><img src="assets/images/news/news-2.png" alt=""></a></figure>
                                    <ul class="post-info">
                                        <li>June 3, 2024</li>
                                        <li><a href="blog-details.html">By Jeams</a></li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="blog-details.html">Baby Gear Essentials What You Really Need</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="assets/images/news/news-3.png" alt=""></a></figure>
                                    <figure class="overlay-image"><a href="blog-details.html"><img src="assets/images/news/news-3.png" alt=""></a></figure>
                                    <ul class="post-info">
                                        <li>June 2, 2024</li>
                                        <li><a href="blog-details.html">By Jeams</a></li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="blog-details.html">Babyproofing Your Home A Comprehensive Guide</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="assets/images/news/news-4.png" alt=""></a></figure>
                                    <figure class="overlay-image"><a href="blog-details.html"><img src="assets/images/news/news-4.png" alt=""></a></figure>
                                    <ul class="post-info">
                                        <li>June 1, 2024</li>
                                        <li><a href="blog-details.html">By Jeams</a></li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="blog-details.html">How to Choose the Perfect Crib for Your Baby</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>