 <section class="news-section pt_120 pb_90">
            <div class="shape-layer rotate-me" style="background-image: url(assets/images/shape/shape-29.png);"></div>
            <div class="large-container">
                <div class="sec-title centred mb_50">
                    <h2>Ultime dalla <span>Colonia</span></h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/cats/recupero-gatti.png" alt="Recupero gatto"></a></figure>
                                    <figure class="overlay-image"><a href="#"><img src="assets/cats/recupero-gatti.png" alt="Recupero gatto"></a></figure>
                                    <ul class="post-info">
                                        <li>10 luglio 2025</li>
                                        <li>Associazione</li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="#">Recupero di un gatto ferito: la storia di Leo</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/cats/aiuti_cibo.png" alt="Aiuti cibo"></a></figure>
                                    <figure class="overlay-image"><a href="#"><img src="assets/cats/aiuti_cibo.png" alt="Aiuti cibo"></a></figure>
                                    <ul class="post-info">
                                        <li>8 luglio 2025</li>
                                        <li>Associazione</li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="#">Aiuti cibo: la raccolta per le colonie</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/cats/colonia_felina.png" alt="Colonia felina"></a></figure>
                                    <figure class="overlay-image"><a href="#"><img src="assets/cats/colonia_felina.png" alt="Colonia felina"></a></figure>
                                    <ul class="post-info">
                                        <li>5 luglio 2025</li>
                                        <li>Associazione</li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="#">Colonia felina: nuovi arrivi e adozioni</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/cats/banner-zagarolo.png" alt="Banner Zagarolo"></a></figure>
                                    <figure class="overlay-image"><a href="#"><img src="assets/cats/banner-zagarolo.png" alt="Banner Zagarolo"></a></figure>
                                    <ul class="post-info">
                                        <li>1 luglio 2025</li>
                                        <li>Associazione</li>
                                    </ul>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="#">Evento: Giornata della Protezione Felina a Zagarolo</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>