 <div class="slide-text p_relative">
            <div class="shape float-bob-y" style="background-image: url(assets/images/shape/shape-33.png);"></div>
            <div class="text-inner">
                <ul class="text-list">
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                    <li>Toy Car</li>
                    <li>Girls Doll</li>
                    <li>Balloons</li>
                    <li>Color Plate</li>
                    <li>Puzzles</li>
                    <li>Cubes</li>
                </ul>
            </div>
        </div>