 <div class="slide-text p_relative">
            <div class="shape float-bob-y" style="background-image: url(assets/images/shape/shape-33.png);"></div>
            <div class="text-inner">
                <ul class="text-list">
                    <li>Adozione gatti</li>
                    <li>Recupero mici feriti</li>
                    <li>Sostegno colonie feline</li>
                    <li>Donazioni cibo</li>
                    <li>Volontariato</li>
                    <li>Segnalazione maltrattamenti</li>
                    <li>Gestione emergenze</li>
                    <li>Aiuto randaggi</li>
                    <li>Educazione felina</li>
                    <li>Campagne sterilizzazione</li>
                    <li>Eventi e raccolte</li>
                    <li>Collaborazioni con veterinari</li>
                    <li>Storie di adozione</li>
                    <li>Colonia urbana</li>
                    <li>Protezione animali</li>
                </ul>
            </div>
        </div>