 <section class="testimonial-section">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-31.png);"></div>
            <div class="outer-container pt_100 pb_170 p_relative">
                <span class="big-text">Testimonianze</span>
                <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Giulia, volontaria</h4>
                            <span class="date">Maggio 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                            </ul>
                            <p>"Ho trovato una vera famiglia tra i volontari dell'associazione. Ogni gatto salvato è una gioia immensa!"</p>
                            <div class="author-box">
                                <figure class="thumb-box"><i class="fas fa-hands-helping fa-2x" style="color:#c7926e;"></i></figure>
                                <div class="inner">
                                    <h4>Recupero e adozione</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Marco, adottante</h4>
                            <span class="date">Aprile 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                            </ul>
                            <p>"Adottare Luna è stata la scelta migliore: ora la nostra casa è piena di amore e fusa!"</p>
                            <div class="author-box">
                                <figure class="thumb-box"><i class="fas fa-home-heart fa-2x" style="color:#c7926e;"></i></figure>
                                <div class="inner">
                                    <h4>Adozione felina</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Francesca, sostenitrice</h4>
                            <span class="date">Marzo 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                            </ul>
                            <p>"Sostengo l'associazione ogni mese: sapere che aiuto tanti mici mi rende felice!"</p>
                            <div class="author-box">
                                <figure class="thumb-box"><i class="fas fa-donate fa-2x" style="color:#c7926e;"></i></figure>
                                <div class="inner">
                                    <h4>Donazione cibo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Alessandro, volontario</h4>
                            <span class="date">Febbraio 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                            </ul>
                            <p>"Ogni giorno aiutiamo gatti in difficoltà: vedere i loro progressi è la nostra più grande soddisfazione."</p>
                            <div class="author-box">
                                <figure class="thumb-box"><i class="fas fa-users fa-2x" style="color:#c7926e;"></i></figure>
                                <div class="inner">
                                    <h4>Gestione colonia</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Serena, adottante</h4>
                            <span class="date">Gennaio 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                            </ul>
                            <p>"Abbiamo adottato Tigro e ora è parte della nostra famiglia. Grazie per il vostro impegno!"</p>
                            <div class="author-box">
                                <figure class="thumb-box"><i class="fas fa-paw fa-2x" style="color:#c7926e;"></i></figure>
                                <div class="inner">
                                    <h4>Adozione e accoglienza</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>