 <section class="testimonial-section">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-31.png);"></div>
            <div class="outer-container pt_100 pb_170 p_relative">
                <span class="big-text">Testimonials</span>
                <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Kenneth R. Myers</h4>
                            <span class="date">June 3, 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><span>(5)</span></li>
                            </ul>
                            <p>I absolutely love this baby shop! The staff is incredibly helpful, and the selection is fantastic. I found everything I needed for my newborn, from adorable outfits to essential gear.</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-1.png" alt=""></figure>
                                <div class="inner">
                                    <h4><a href="shop-details.html">Creation Rotating and Musical Doll with 3D</a></h4>
                                    <h5>$83.99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>James W. Myers</h4>
                            <span class="date">June 12, 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><span>(4)</span></li>
                            </ul>
                            <p>Shopping here has been a delightful experience. The quality of the products is top-notch, and the prices are reasonable. We especially appreciate the wide range of eco-friendly</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-2.png" alt=""></figure>
                                <div class="inner">
                                    <h4><a href="shop-details.html">Creation Rotating and Musical Doll with 3D</a></h4>
                                    <h5>$32.99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>James W. Myers</h4>
                            <span class="date">June 31, 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><span>(4.7)</span></li>
                            </ul>
                            <p>This baby shop has been a lifesaver! As a first-time mom, I was overwhelmed, but the knowledgeable staff guided me through every purchase. The customer service is exceptional.</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-3.png" alt=""></figure>
                                <div class="inner">
                                    <h4><a href="shop-details.html">Creation Rotating and Musical Doll with 3D</a></h4>
                                    <h5>$83.99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Kenneth R. Myers</h4>
                            <span class="date">June 23, 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><span>(5)</span></li>
                            </ul>
                            <p>I absolutely love this baby shop! The staff is incredibly helpful, and the selection is fantastic. I found everything I needed for my newborn, from adorable outfits to essential gear.</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-4.png" alt=""></figure>
                                <div class="inner">
                                    <h4><a href="shop-details.html">Creation Rotating and Musical Doll with 3D</a></h4>
                                    <h5>$16.99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <h4>Kenneth R. Myers</h4>
                            <span class="date">June 16, 2024</span>
                            <ul class="rating"> 
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><i class="icon-10"></i></li>
                                <li><span>(4.9)</span></li>
                            </ul>
                            <p>I absolutely love this baby shop! The staff is incredibly helpful, and the selection is fantastic. I found everything I needed for my newborn, from adorable outfits to essential gear.</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-5.png" alt=""></figure>
                                <div class="inner">
                                    <h4><a href="shop-details.html">Creation Rotating and Musical Doll with 3D</a></h4>
                                    <h5>$83.99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>