 <footer class="main-footer">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-1.png);"></div>
            <div class="anim-shape">
                <div class="shape-1 rotate-me" style="background-image: url(assets/images/shape/shape-5.png);"></div>
                <div class="shape-2 rotate-me" style="background-image: url(assets/images/shape/shape-5.png);"></div>
                <div class="shape-3 rotate-me" style="background-image: url(assets/images/shape/shape-5.png);"></div>
                <div class="shape-4 rotate-me" style="background-image: url(assets/images/shape/shape-5.png);"></div>
                <div class="shape-5 float-bob-y" style="background-image: url(assets/images/shape/shape-34.png);"></div>
                <div class="shape-6 float-bob-x" style="background-image: url(assets/images/shape/shape-35.png);"></div>
                <div class="shape-7 float-bob-y" style="background-image: url(assets/images/shape/shape-36.png);"></div>
            </div>
            <div class="widget-section p_relative pt_100 pb_80">
                <div class="large-container">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="tp-footer-widget logo-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a></figure>
                                <ul class="info-list clearfix">
                                    <li>57 heol isaf Station Road, Cardiff, UK</li>
                                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="index.html"><i class="icon-14"></i></a></li>
                                    <li><a href="index.html"><i class="icon-15"></i></a></li>
                                    <li><a href="index.html"><i class="icon-16"></i></a></li>
                                    <li><a href="index.html"><i class="icon-17"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="tp-footer-widget links-widget">
                                <div class="widget-title">
                                    <h4>Resources</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="index.html">Brands</a></li>
                                        <li><a href="index.html">Mobile App</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="tp-footer-widget links-widget">
                                <div class="widget-title">
                                    <h4>Support</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="index.html">Reviews</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="index.html">Return Policy</a></li>
                                        <li><a href="index.html">Online Support</a></li>
                                        <li><a href="index.html">Money Back</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="tp-footer-widget links-widget">
                                <div class="widget-title">
                                    <h4>Store Info</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="index.html">Best Seller</a></li>
                                        <li><a href="index.html">Top Sold Items</a></li>
                                        <li><a href="index.html">New Arrivals</a></li>
                                        <li><a href="index.html">Flash Sale</a></li>
                                        <li><a href="index.html">Discount Products</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="tp-footer-widget subscribe-widget">
                                <div class="widget-title">
                                    <h4>Subscribe</h4>
                                </div>
                                <div class="widget-content">
                                    <p>Stay inform about upcoming events, webinars, and exciting happenings.</p>
                                    <form action="contact.html" method="post">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email Address" required>
                                            <button type="submit"><i class="icon-18"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="large-container">
                    <div class="bottom-inner">
                        <div class="copyright"><p>Copyright &copy; 2025 <a href="index.html">Kiddos</a>, Inc. All Rights Reserved</p></div>
                        <ul class="footer-card">
                            <li><a href="index.html"><img src="assets/images/icons/card-1.png" alt=""></a></li>
                            <li><a href="index.html"><img src="assets/images/icons/card-2.png" alt=""></a></li>
                            <li><a href="index.html"><img src="assets/images/icons/card-3.png" alt=""></a></li>
                            <li><a href="index.html"><img src="assets/images/icons/card-4.png" alt=""></a></li>
                            <li><a href="index.html"><img src="assets/images/icons/card-5.png" alt=""></a></li>
                            <li><a href="index.html"><img src="assets/images/icons/card-6.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="scroll-to-top">
            <svg class="scroll-top-inner" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>