<header class="main-header">
    <!-- header-top -->
    <div class="header-top">
        <div class="large-container">
            <div class="top-inner">
                <ul class="info-list">
                    <li><i class="icon-1"></i><span>Open Hours: Mon - Fri 8am - 6pm</span></li>
                    <li class="chat-toggler"><i class="icon-2"></i><span>Live Chat</span></li>
                </ul>
                <div class="text">
                    <p>Supper Value Deals - <span>Save more with coupons 2BD30X</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower p_relative">
        <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);"></div>
        <div class="large-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a></figure>
                <div class="support-box">
                    <div class="icon-box"><i class="icon-2"></i></div>
                    <div class="inner">
                        <h3><a href="tel:912345678">91 2345 678</a></h3>
                        <span>Call out Hotline 24/7</span>
                    </div>
                </div>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light clearfix">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-3.html">Home Three</a></li>
                                        <li><a href="index-4.html">Home Four</a></li>
                                        <li><a href="index-5.html">Home Five</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="blog.html">Shop</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-xl-3 column">
                                                <ul>
                                                    <li>
                                                        <h5>Shop Lists</h5>
                                                    </li>
                                                    <li><a href="shop.html">Shop One</a></li>
                                                    <li><a href="shop-2.html">Shop Two</a></li>
                                                    <li><a href="shop-3.html">Shop Three</a></li>
                                                    <li><a href="shop-4.html">Shop Four</a></li>
                                                    <li><a href="shop-5.html">Shop Five</a></li>
                                                    <li><a href="shop-6.html">Shop Six</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-3 column">
                                                <ul>
                                                    <li>
                                                        <h5>Shop Details</h5>
                                                    </li>
                                                    <li><a href="shop-details.html">Shop Details One</a></li>
                                                    <li><a href="shop-details-2.html">Shop Details Two</a></li>
                                                    <li><a href="shop-details-3.html">Shop Details Three</a></li>
                                                    <li><a href="shop-details-4.html">Shop Details Four</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-3 column">
                                                <ul>
                                                    <li>
                                                        <h5>Product Category</h5>
                                                    </li>
                                                    <li><a href="shop.html">Simple Product</a></li>
                                                    <li><a href="shop-2.html">Variable Product</a></li>
                                                    <li><a href="shop-3.html">Group Product</a></li>
                                                    <li><a href="shop-4.html">Affiliate Product</a></li>
                                                    <li><a href="shop-details.html">Single Product Style</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-3 column">
                                                <ul>
                                                    <li>
                                                        <h5>Shop Layout</h5>
                                                    </li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="account.html">My Account</a></li>
                                                    <li><a href="account.html">Compare</a></li>
                                                    <li><a href="account.html">Wishlist</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="advice-box">
                                            <span class="text">Only for this month</span>
                                            <h3>Puzzle for Kids</h3>
                                            <h4><span>From</span> $50 Only</h4>
                                            <a href="shop.html" class="theme-btn btn-one">Shop Now</a>
                                            <figure class="image-box p_absolute r_0 b_0"><img
                                                    src="assets/images/resource/ads-7.png" alt=""></figure>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="index.html">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="account.html">Account</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="signup.html">Signup</a></li>
                                        <li><a href="search.html">Search Result</a></li>
                                        <li><a href="error.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Grid</a></li>
                                        <li><a href="blog-2.html">Blog Standard</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-right-content">
                    <div class="search-box">
                        <form action="index.html" method="get">
                            <div class="form-group">
                                <input type="search" name="search-field" placeholder="Search Products" required>
                                <button type="submit"><i class="icon-4"></i></button>
                            </div>
                        </form>
                    </div>
                    <ul class="option-list">
                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                        <li class="shop-cart cart-toggler"><button type="button"><i
                                    class="far fa-shopping-bag"></i><span>3</span></button></li>
                        <li><a href="login.html"><i class="far fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="large-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a></figure>
                <div class="support-box">
                    <div class="icon-box"><i class="icon-2"></i></div>
                    <div class="inner">
                        <h3><a href="tel:912345678">91 2345 678</a></h3>
                        <span>Call out Hotline 24/7</span>
                    </div>
                </div>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="menu-right-content">
                    <div class="search-box">
                        <form action="index.html" method="get">
                            <div class="form-group">
                                <input type="search" name="search-field" placeholder="Search Products" required>
                                <button type="submit"><i class="icon-4"></i></button>
                            </div>
                        </form>
                    </div>
                    <ul class="option-list">
                        <li><button type="button"><i class="far fa-heart"></i></button></li>
                        <li class="shop-cart cart-toggler"><button type="button"><i
                                    class="far fa-shopping-bag"></i><span>3</span></button></li>
                        <li><a href="login.html"><i class="far fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>
    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="assets/images/logo/logo.png" alt="" title=""></a></div>
        <div class="menu-outer"></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Chicago 12, Melborne City, USA</li>
                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div>
