<header class="main-header">
    <!-- header-top -->
    <div class="header-top">
        <div class="large-container">
            <div class="top-inner">
                <ul class="info-list">
                    <li><i class="icon-1"></i><span>Orari: Lun - Ven 8:00 - 18:00</span></li>
                    <li class="chat-toggler"><i class="icon-2"></i><span>Contattaci</span></li>
                </ul>
                <div class="text">
<p>I Randagini di Zagarolo - <span>Associazione Volontariato Felina</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower p_relative">
        <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);"></div>
        <div class="large-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="#"><img src="assets/images/logo/logo.png" alt=""></a></figure>
                <div class="support-box">
                    <div class="icon-box"><i class="icon-2"></i></div>
                    <div class="inner">
<h3><a href="tel:+393891285881">+39 389 128 5881</a></h3>
<span>Contattaci per adottare o aiutare un gatto</span>
                    </div>
                </div>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light clearfix">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
    <li><a href="#">Home</a></li>
    <li><a href="#">Adozioni</a></li>
    <li><a href="#">Contatti</a></li>
</ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-right-content">
                    <div class="search-box">
                        <form action="index.html" method="get">
                            <div class="form-group">
<input type="search" name="search-field" placeholder="Cerca un gatto" required>
                                <button type="submit"><i class="icon-4"></i></button>
                            </div>
                        </form>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="large-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="#"><img src="assets/images/logo/logo.png" alt=""></a></figure>
                <div class="support-box">
                    <div class="icon-box"><i class="icon-2"></i></div>
                    <div class="inner">
<h3><a href="tel:+393891285881">+39 389 128 5881</a></h3>
<span>Contattaci per adottare o aiutare</span>
                    </div>
                </div>
     
            </div>
        </div>
    </div>
</header>


<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>
    <nav class="menu-box">
        <div class="nav-logo"><a href="#"><img src="assets/images/logo/logo.png" alt="" title=""></a></div>
        <div class="menu-outer"></div>
        <div class="contact-info">
<h4>Contatti</h4>
<ul>
    <li>Zagarolo (RM), Italia</li>
    <li><a href="tel:+393891285881">+39 389 128 5881</a></li>
    <li><a href="mailto:info@irandagini.it">info@irandagini.it</a></li>
</ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div>
