        <component @src="/components/sections/banner.html"></component>
        <component @src="/components/sections/category.html"></component>
        <component @src="/components/sections/adopt.html"></component>
        <component @src="/components/sections/about.html"></component>
        <component @src="/components/sections/featured.html"></component>
        <component @src="components/sections/testimonial.html"></component>
        <component @src="components/sections/slide.html"></component>
        <component @src="/components/sections/news.html"></component>